<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.dt.test.controller.ToDoControllerTest"/>
      <class name="com.dt.test.bootL.DemoApplicationTests"/>
      <class name="com.dt.test.util.PayloadValidatorTest"/>
      <class name="com.dt.test.service.ToDoServiceTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
